/**
 * code styles
 */

code {
  font-family: "BitMini", monospace;

  padding: .2em .5em;

  background-color: rgba(0, 0, 0, .4);
}

pre {
  width: 100%;
  padding: .2em .5em;

  text-align: left;

  background-color: rgba(0, 0, 0, .4);
}

pre code {
  padding: 0;
  background-color: transparent;
}
