/**
  * styles for post excerpts on index page
  */

.excerpt img {
  float: left;

  padding: 1rem;
  box-sizing: border-box;
}

.excerpt::after {
  display: block;
  clear: both;

  content: "";
}

@media (min-width: 700px) {
  .excerpt img {
    max-width: 50%;
  }
}

@media (min-width: 1000px) {
  .excerpt img {
    max-width: 30%;
  }
}
