/**
 * font settings
 */

@font-face {
  font-family: "BitMini";

  src: url("../fonts/bitmini.svg"),
  url("../fonts/bitmini.ttf"),
  url("../fonts/bitmini.eot");
}


html {
  font-family: "BitMini", sans-serif;
  font-size: 24px;
  font-smooth: never;
  line-height: 1.5;

  -webkit-font-smoothing: none;
}
