/**
 * icons font settings
 */

@font-face {
  font-family: "BitMiniIcons";

  src: url("../fonts/bitminiicons.svg"),
  url("../fonts/bitminiicons.eot"),
  url("../fonts/bitminiicons.ttf");
}


.icon {
  font-family: "BitMiniIcons";

  speak: none;
}
